/* //for loader */
/* .se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('loader.svg') center no-repeat hsl(0, 0%, 94%);
} */

*{
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	font-family: sans-serif;
}

body{
	position: relative;
	/* overflow-x: hidden; */
	background: hsl(0, 0%, 94%);
	/* min-width: 100vw; */
	/* min-height: 100vh; */
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.title{
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}

.box{
	display: flex;
	justify-content: center;
	width: 90%;
	max-width: 700px;
	/* height: 80%; */
	margin-top: 5px;
	
}

.country{
	text-align: left;
	min-width: 160px;
}
table{
	text-align: center;
	border-collapse: collapse;
}

table td,
table th{
	min-width: 150px;
	border: 1px solid;
	width: 150px;
	border-collapse: collapse;
	padding: 3px 6px;
}

.table-header{
	background: gray;
}

table.fixed .table-header{
	position: fixed;
	top: 0;
}
table.fixed table th:first-child{
	/* width: 160px; */
}

.country-flag{
	width: 20px;
}


.updated{
	min-width: 30px;
	width: 50px;
	font-size: .8rem;
	font-weight: 100;
	text-align: left;
}

td.updated{
	font-size: .7rem;
}


.loader-msg{
	font-size: 1.3rem;
	margin-top: 30vh;
	font-weight: 700;
}